# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\fra98\Desktop\Università\Magistrale\Primo Anno\Compilatori\Progetto\Compilers-exercises\Migliaro-Carpentieri_es4_TLP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
